/*
Whole Page
*/
body{
  background-color: #141414;
  color: white;
}
a{
  color: white;
}
a:hover{
  color: white;
}
a:visted{
  color: white;
}

/*
Top of Page
*/
#top{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60vh;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  color: white;
}

#video-background {
  z-index: -2;
  width: 100%;
  box-shadow: inset 0 0 10px white;
}

#topInfo{
  position: absolute;
  top: 8em;
  left: 5%;
  background: rgb(20,20,20, 0.75);
  padding: 30px;
  border-radius: 15px;
  z-index: 0;
}

#topInfo .logo{
  height: 2.5em;
}

#menu{
  width: 100%;
  color: white;
  position: fixed;
  top: 0px;
  z-index: 10;
}

#menu .logo{
  height: 4em;
}

/*
Body
*/
#bottom{
  color: white;
  margin-top: 60vh;
  z-index: 2;
}

#bottom h1{
  margin-bottom: 0;
}

.row{
  width: 100%;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.row::-webkit-scrollbar { 
  width: 0 !important 
}


.column {
  width: 40%;
  height: 150px;
  margin: auto 15px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  flex: 0 0 auto;
  display: inline-flex;
}

.column:hover{
  vertical-align: middle;
  width: 60%;
  height: 190px;
}

.column p{
  text-align: center;
  margin: auto;
  background-color: rgb(20,20,20, 0.75);
  border-radius: 15px;
  width: 75%;
}

.scrollButton{
  background: rgb(20,20,20, 0.75);
  height: calc(100% - 10px);
  position: absolute;
  padding: 5px;
  cursor: pointer;
  color: white;
  z-index: 2;
  display: none;
}

.right{
  right: 0px;
}

.left{
  left: 0;
}

.left img, .right img{
  position: relative;
  top: 30%;
  height: 40%;
}

.section{
  position: relative;
  vertical-align: middle;
}

.section:not(:last-of-type){
  margin-bottom: 50px;
}

.info{
  position: relative;
  margin: 0 auto;
  padding: 15px;
  top: -50px;
  width: 90%;
  min-height: 500px;
  border: 1px solid #4B4B4B;
  border-radius: 15px;
}

.info p{
  width: calc(100% - 250px)
}

.exit{
  font-size: 40px;
  margin: 5px 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.exit:hover{
  cursor: pointer;
}

.degree{
  width: 200px;
  position: absolute;
  top: 100px;
  right: 10px;
}

.degree2{
  width: 200px;
  position: absolute;
  top: 300px;
  right: 10px;
}

.degree:hover, .degree2:hover{
  width: 500px;
  z-index: 10;
}

.degree2:hover{
  top: 100px;
}
/*
Screen Breaks
*/
@media screen and (max-width: 485px) {
  #bottom{
      margin-top: calc(100vw * (9/16));
    }
}

@media screen and (max-width: 749px) {
  #topInfo{
    top: 4em;
    padding: 10px;
  }

  #menu .logo{
    height: 2em;
  }

  #topInfo .logo{
    height: 1.5em;
  }

  .App{
    font-size: small;
  }
}

@media screen and (min-width: 750px) and  (max-width: 999px){
  #topInfo{
    top: 7em;
    padding: 10px;
  }
}

@media screen and (min-width: 1000px) {
  #video-background{
    transform: translateY(-150px);
  }
}